body{
	background-color: rgb(240, 240, 240);


	}
	#menu
{
	overflow: hidden;
	position:fixed;
	width: 100%;
	top: 0%;
	padding:4px 10px;
	font-family: "Papyrus", Fantasy;
	font-weight: bold;
	font-size: 100%;
	
}

li{
	display: inline;
	border-right: 2px solid black;
	
}

li a{
	padding: 55px;	
	color: black;
}

li a:hover {
	background-color:rgb(207, 205, 205);
  }
  
 h1{

	font-size: 40px;
	font-family: "sofia", sans-serif;
	font-weight: bold;
	text-align:  center;
	
  }
  .home{
	background-image: url('family2.jpg');
	height: 800px;
	background-size:cover;
	background-position: center;
	margin-top: 0%;
  }

  
 .home1{
	font-size: 80px;
	font-family: "sofia", sans-serif;
	text-align:  center;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;

 } 
 
 .home2{

	font-size: 60px;
	font-family: "sofia", sans-serif;
	text-align:  center;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;

 }
  .about{
	
	float:right; 
	width:25%;
	height: 400px;
	margin-left:1%;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid black;
	text-align: right ;
	
  }
 
  .aboutme{
	
	width: 300PX;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	float: left; 
	width:73%;
	height: 400px;
  }

  .years{

	font-size: 20px;
	text-align: center;
	font-weight: bold;
  }
  
  .flip-box {
	background-color: transparent;
	width:auto;
	height:auto;
	border: 1px solid rgb(240, 240, 240);
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
 
  .flip-box-inner {
	position: relative;
	width: 500px;
	height: 400px;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }
  
  
  .flip-box:hover .flip-box-inner {
	transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
  }
  
  .flip-box-front {
	background-color: #bbb;
	color: black;
	
  }
  
  /* Style the back side */
  .flip-box-back {
	background-color: rgb(240, 240, 240);
	color: black;
	transform: rotateY(180deg);
  }
  
  .photo1{
	margin-left: 0%; 
	margin-top: 0%;
	
	
}
  .photo2{
	margin-left: 33%; 
	margin-top: -26.8%; 

}
  .photo3{
	
	margin-left: 66%; 
	margin-top: -26.8%; 

  }